{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 * - db_offline: A flag indicating if the database is offline.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
{% if ie_enabled_versions.ie8 %}
  {{- attach_library('basic/ie8') }}
{% endif %}
{% if ie_enabled_versions.ie9 or ie_enabled_versions.ie8 %}
  <!--[if lt IE 7]>     <html{{ html_attributes.addClass('no-js', 'lt-ie9', 'lt-ie8', 'lt-ie7') }}><![endif]-->
  <!--[if IE 7]>        <html{{ html_attributes.removeClass('lt-ie7') }}><![endif]-->
  <!--[if IE 8]>        <html{{ html_attributes.removeClass('lt-ie8') }}><![endif]-->
  <!--[if gt IE 8]><!--><html{{ html_attributes.removeClass('lt-ie9') }}><!--<![endif]-->
{% else -%}
  <html{{ html_attributes }}>
{% endif %}
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
{#  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700">
#}
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
{#    <style>@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600;1,700;1,800;1,900&display=swap);</style>
#}
  </head>
  {% set classes = [] %}
  {% for role in user.roles %}
    {% set classes = classes|merge(['role--' ~ role|clean_class]) %}
  {% endfor %}

  {% set sidebar_first = page.sidebar_first|render %}
  {% set sidebar_second = page.sidebar_second|render %}
  <!--<body{{ attributes.addClass(classes,
    not is_front ? 'with-subnav',
    sidebar_first ? 'sidebar-first',
    sidebar_second ? 'sidebar-second',
    (sidebar_first and not sidebar_second) or (sidebar_second and not sidebar_first) ? 'one-sidebar',
    (sidebar_first and sidebar_second) ? 'two-sidebars',
    (not sidebar_first and not sidebar_second) ? 'no-sidebar'
  ) }}>-->
  <body>
    <div id="skip">
      <a href="#main-menu" class="visually-hidden focusable skip-link">
        {{ 'Skip to main navigation'|t }}
      </a>
    </div>

    <div id="root">

      <!-- ______________________ HEADER _______________________ -->

      {% if page.header_top_bar %}
      <div class="top-bar">
         <div class="container">
            <div class="clearfix">
              {{ page.header_top_bar }}
            </div>
         </div>
      </div>
      {% endif %}


      <div class="menubar-bg">
         <div class="container">
             <nav class="px-0 navbar navbar-expand-md navbar-light">
                  {% if page.header_logo %}
                    {{ page.header_logo }}
                  {% endif %}
                  {% if page.header_menu_bar %}
                      <div class="navbar-collapse collapse" id="basic-navbar-nav">
                      <a class="book-online" href="https://geeks.sydney/book-online" rel="noreferrer" target="_blank">BOOK ONLINE </a>
                      {{ page.header_menu_bar }}
                      </div>
                  {% endif %}
             </nav>
         </div>
      </div>

    <!-- ______________________END HEADER _______________________ -->

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <!-- ______________________ FOOTER _______________________ -->

    {% if page.footer|render %}
            {{ page.footer }}
    {% endif %}


    <footer class="bg-white">
       <div class="footer-top-wrapper d-lg-block d-md-block d-sm-none d-none pt-5 pb-3">
          <div class="container">
             <div class="row">

                 {% if page.footer_one|render %}
                 <div class="col-md-3 col-sm-6">
                   <div class="footer-col-one">
                         {{ page.footer_one }}
                   </div>
                 </div>
                 {% endif %}

                 {% if page.footer_two|render %}
                 <div class="col-md-3 col-sm-6">
                   <div class="footer-col-two">
                         {{ page.footer_two }}
                   </div>
                 </div>
                 {% endif %}

                 {% if page.footer_three|render %}
                 <div class="col-md-3 col-sm-6">
                   <div class="footer-col-three">
                         {{ page.footer_three }}
                   </div>
                 </div>
                 {% endif %}

                 {% if page.footer_four|render %}
                 <div class="col-md-3 col-sm-6">
                   <div class="footer-col-four">
                       <h4>Follow Us</h4>
                       <p>Keep in touch with us through our social media linked below.</p>
                       <div class="social-icon">
                         {{ page.footer_four }}
                       </div>
                   </div>
                 </div>
                 {% endif %}

             </div>
          </div>
       </div>

       <div class="footer-bottom">
          <div class="container">
             <div class="row align-items-center">
                <div class="col-md-6 col-sm-6">
                   {% if page.footer_bottom_bar|render %}
                        {{ page.footer_bottom_bar }}
                   {% endif %}
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="payment-icon d-flex justify-content-end">
                      <img alt="visa" class="img-fluid visa" src="{{ base_path ~ active_theme_path() }}/images/visa.0bfd66ad.svg" />
                      <img alt="master card" class="img-fluid master-card" src="{{ base_path ~ active_theme_path() }}/images/mastercard.041e3b2d.svg" />
                      <img alt="paypal" class="img-fluid paypal" src="{{ base_path ~ active_theme_path() }}/images/paypal.aa54ed05.svg" />
                      <img alt="google wallet" class="img-fluid wallet" src="{{ base_path ~ active_theme_path() }}/images/wallet.5ec40654.svg" />
                    </div>
                </div>


            </div>
          </div>
       </div>
    </footer>

    <!-- ______________________END FOOTER _______________________ -->

  </div><!-- /#root -->



    <js-bottom-placeholder token="{{ placeholder_token }}">
    {% if browser_sync.enabled %}
      <script id="__bs_script__">
      document.write("<script async src='http://{{ browser_sync.host }}:{{ browser_sync.port }}/browser-sync/browser-sync-client.js'><\/script>".replace("HOST", location.hostname));
      </script>
    {% endif %}
  <script>  $('.single-item').slick(); </script>
  </body>
</html>
